/Ejecicio1extrra/nbproject/private/
/Ejecicio1extrra/build/
/AppOperadordetxt/nbproject/private/
/AppOperadordetxt/build/
/Integrador/nbproject/private/
/Integrador/build/
/trabajoProfeso/nbproject/private/