/Ejecicio1extrra/nbproject/private/
/Ejecicio1extrra/build/
/AppOperadordetxt/nbproject/private/
/AppOperadordetxt/build/
/Integrador/nbproject/private/
/Integrador/build/
/trabajoProfeso/nbproject/private/
/AppOperadordetxt_1/nbproject/private/
/WalkenApp1/nbproject/private/
/WalkenApp1/build/
/WalkenApp1/dist/
/AppOperadordetxt_1/build/
/ubicacion mouse/nbproject/private/
/ubicacion mouse/build/
/guia11Colecciones/nbproject/private/
/guia11Colecciones/build/
/Guia11ColeccionesEj3/nbproject/private/
/Guia11ColeccionesEj3/build/